#nav3a {
    color: #e61817;
}

.item {
    width: 20%;
    height: 60vh;
    border: 1px solid transparent;
    background-color: #f0f0f0;
    border-radius: 1vh;
    text-align: center;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.71);
}

#bannerItem {
    height: 40vh;
    width: 92%;
    margin-bottom: 3%;
    text-align: center;
}

#container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#bannerimg {
    max-height: 100%;
}

.space {
    margin-top: 4%;
}

.itemimg {
    max-height: 50%;
    max-width: 75%;
    border-radius: 1vh 1vh 0 0;
}

#UnagiBitestext {
    height: 46%;
    width: 97%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
}

#HomemadeFries {
    height: 40%;
    width: 97%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
}

#chickenloretext {
    height: 38%;
    width: 97%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
}

#drychickenloretext {
    height: 30%;
    width: 97%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
}

#wetchickenloretext {
    height: 43%;
    width: 97%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
}

#disclaimer {
    opacity: 40%;
    font-size: 55%;
    text-align: center;
    margin-top: 7%;
    font-family: Calibri;
}

#diredireburgtext {
    height: 33%;
    width: 97%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
}

#FriedShroomstext {
    height: 37%;
    width: 97%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
}

#spicychickenburger {
    height: 46%;
    width: 97%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
}

#veganburgtext {
    height: 33%;
    width: 97%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;   
}

#chickenwarriormealtext {
    height: 47%;
    width: 97%;
    margin: 0 auto 0 auto;
    overflow-y: scroll;  
}

#DireDireFishText {
    width: 97%;
    margin: 0 auto 0 auto;
}

#DireDireWaffletext {
    width: 97%;
    margin: 0 auto 0 auto;
}

#DireDireCurlytext {
    width: 97%;
    margin: 0 auto 0 auto;
}

#fastfriestext {
    width: 97%;
    margin: 0 auto 0 auto;
}

p, h1 {
    font-family: Calibri;
}

h2 {
    font-family: SuperMario256;
    font-size: 125%;
}

.dollarcost {
    font-size: 150%;
}